{{#dog_info}}

<h1>{{dog_name}}</h1>
<p>Owner: {{first_name}} </p>
<p>dog age: {{dog_age}} </p>
<p>dog breed: {{dog_breed}} </p>
<p>dog personality: {{dog_personality}} </p>
<p>dog gender: {{dog_gender}} </p>
<p>zipcode: {{zipcode}}</p>

{{/dog_info}}