<h1>This is search result</h1>


{{#dog_profile}}

<h2>{{dog_name}}</h2>
<p>Owner: {{first_name}} </p>
<p>Dog breed: {{dog_breed}} </p>
<p>Dog Personality: {{dog_personality}} </p>
<p>Dog Weight: {{dog_weight}} </p>
<p>zipcode: {{zipcode}}</p>

{{/dog_profile}}

